@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-bg-color: linear-gradient(
    100deg,
    rgba(8, 63, 155, 1) 6%,
    rgba(127, 86, 217, 1) 100%
  );
  --secondary-bg-color: linear-gradient(
    240deg,
    rgba(228, 65, 255, 1) 5%,
    rgb(25 1 248 / 68%) 65% 76%,
    rgb(0 179 255 / 45%) 100%
  );
  --primary-color: #323232;
  --secondary-color: #4883ff;
  --card-title-color: #324361;
  --section-title-size: 2.813rem;
  --section-sub-txt: 1.563rem;
  --primary-font: "Righteous", sans-serif;
  --secondary-font: "Rowdies", serif;
  --tertiary-font: "Saira", sans-serif;
}

html,
body {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  transition: 0.3s all;
}

h3 {
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--primary-color);
  font-size: var(--section-title-size);
}

h3 span {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.section_content {
  padding-bottom: 2rem;
  text-align: center;
  position: relative;
}

.section_content p {
  font-size: var(--section-sub-txt);
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  font-family: var(--primary-font);
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top {
  background: var(--primary-bg-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #155dfc;
  border-radius: 10px;
}

/* --header--- */

.nav_links li a:hover {
  color: var(--secondary-color);
}

.signup_btn,
.explore_btn {
  font-family: var(--tertiary-font);
  background: var(--primary-bg-color);
}

/* ----banner--sec-- */

.banner_sec {
  padding: 3rem 0;
  background: var(--primary-bg-color);
}

.banner_title {
  width: 68%;
}

.img_bg {
  position: absolute;
  top: 45px;
  left: 40px;
  background: radial-gradient(
    circle at center,
    #ffffff 30%,
    #9da6ffb5 50% 0%,
    #fcfcfc05 65%
  );
  min-width: 100%;
  border-radius: 50%;
  height: 100%;
  filter: brightness(0.8);
}

.banner_content p {
  color: var(--paragraph-color);
  font-size: var(--section-sub-txt);
  font-weight: 400;
  line-height: 40px;
}

@keyframes brands_icon {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.brands_icon {
  animation: brands_icon 15s linear infinite;
}

/* ----main----section----- */

.card_content h4 {
  color: var(--card-title-color);
}

/* ---article--two--- */

.vector_div::after,
.vector_div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 2px dashed #ffffff94;
}

.vector_div::before {
  right: 0;
  left: unset;
}

/* ----article-four---- */

.search_banner {
  background: var(--secondary-bg-color);
}

.search_banner p {
  color: #ffffffb8;
}

.input_sec_banner input {
  background: #ffffff42;
}

.triangle_div .center_img {
  transform: translateX(-45%);
  left: 45%;
  filter: opacity(0.5);
}

/* ---footer---- */

.social_icons a img {
  width: 22px;
}

/* --tablet & laptop responses--- */

@media (min-width: 320px) and (max-width: 520px) {
  .overlay_banner,
  .banner_play {
    width: 100%;
    border-radius: 1.4rem;
  }

  .footer-col h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .footer-links a {
    font-size: 1.2rem;
  }

  .banner_sec {
    flex-direction: column-reverse;
    padding-top: 12rem;
  }

  .vector_div::after,
  .vector_div::before {
    opacity: 0;
  }
}
